p#title lovely simple knits

p 
  | 
    I love knitting both because of its complexity and simplicity. I adore the simplicity of stockinette stitch and the soothing nature of garter stitch. I look forward to knitting inch after inch of garter stitch, adding texture, cables, and lace to add flair to my project. When I'm having a stressful day and need to zone out, I turn to complicated lace, mind-bending cables, and tedious color work. While I may whine and moan about how much I hate color work, or how much I hate working nupps, at the end of the day, I love everything about knitting.

p
  |
    lovekn.it is a pattern generator built in the KniThat framework, which is inspired by my love my knitting, and my love of simple things. 

p
  |
    It's for process knitters, and product knitters. It's about the finished object as much as it is about the joy of knitting.

p
  |
    It's for beginning knitters to challenge themselves to learn new things, and it's for advanced knitters who want to work with easily customizable patterns.

p
  |
    It's for me. Because I forgot how much I really, truly love knitting.